.formulaire-section {
    .container {
        .form-text {
            .nunito-text {
                margin-top: 1.5em;
                margin-bottom: 2em;
            }
            .social-list {
                display: flex;
                flex-direction: row;
                margin-top: 1.5em;
                .social-item:not(:first-child) {
                    margin-left: 1.875em;
                }
            }
        }
        .form-content {
            .label-title {
                margin-bottom: 0.875em;
            }
            input {
                margin-bottom: 1.5em;
                width: 33.5em;
            }
            .select-content {
                margin-bottom: 1.5em;
                select {
                    width: 16.25em;
                }
            }
            textarea {
                margin-bottom: 2em;
                width: 33.5em;
            }
        }
    }
}