$orange: #e95841;
$gris: #333333;
$black: #181818;
$shadow-gris: #00000029;
$shadow-card: #00000014;
$footer-color: #666666;

body {
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 68.125em;
  margin: 0 auto;
}

.h1-like {
  font-size: 3.44em;
  font-weight: 400;
}

.h2-like {
  font-size: 2.375em;
  font-weight: 400;
}

.h3-like {
  font-size: 1.625em;
  font-weight: 700;
}

.h4-like {
  font-size: 1em;
  font-weight: 700;
}

.bold-title {
  font-weight: 700;
}

.label-title {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  font-size: 1.125em;
}

.nunito-text {
  font-family: "Nunito", sans-serif;
  font-size: 1.125em;
}

.orange {
  color: $orange;
}

.button-orange {
  background: transparent linear-gradient(102deg, #e95841 0%, #e94b63 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #e9584129;
  border-radius: 27px;
  opacity: 1;
  padding: 13px 29px;
  min-width: 168px;
  min-height: 45px;
  font-family: "Montserrat";
  color: white;
  border: none;
}

.button-white {
  background: #f9f9f9 0% 0% no-repeat padding-box;
  box-shadow: 0px 5px 10px #e9584129;
  border-radius: 27px;
  opacity: 1;
  padding: 13px 29px;
  color: $orange;
  min-width: 184px;
  min-height: 45px;
  font-family: "Montserrat";
}
